//mixins
@mixin transition-mix(
  $property: all,
  $duration: 0.2s,
  $timing: linear,
  $delay: 0s
) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing;
  transition-delay: $delay;
}

@mixin position-absolute($top: null, $left: null, $right: null, $bottom: null) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

$theme-font-color: #2c2c2c;

body {
  font: {
    family: "Montserrat", sans-serif;
    size: 16px;
  }
  color: $theme-font-color;

  a {
    color: inherit;
    text-decoration: none;
  }
}

//PEN STYLES
.header {
  max-width: 500px;
  margin: 50px auto;

  text-align: center;
}

.header__btns {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.header__btn {
  @include transition-mix;

  padding: 10px 20px;
  margin-right: 10px;

  background-color: #fff;
  border: 1px solid $theme-font-color;
  border-radius: 3px;

  cursor: pointer;

  outline: none;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &.js-active {
    color: #fff;

    background-color: $theme-font-color;
  }
}

.header__title {
  margin-bottom: 10px;
  font: {
    weight: 500;
  }
}

.header__subtitle {
  margin-bottom: 30px;
  font: {
    size: 20px;
  }
}

.content {
  width: 700px;
  max-width: 95%;
  margin: auto;
}

.effect {
  margin-bottom: 50px;
}

.effect__title {
  text-align: center;
}

.effect__cell {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

// PALETTE

// palette green
$_green_10: #d6ffd6;
$_green_30: #00a300;
$_green_50: #008e00;
$_green_70: #006600;
$_green_90: #005200;

// palette red

$_red_10: #ffd6d6;
$_red_30: #fd3535;
$_red_50: #fd0d0d;
$_red_70: #bb0202;
$_red_90: #8d0101;

// palette orange

$_orange_10: #fcdfc5;
$_orange_30: #f4a966;
$_orange_50: #f18c33;
$_orange_70: #ef7e1a;
$_orange_90: #d26a0f;

// palette violet

$_violet_10: #f4f3f6;
$_violet_30: #d4d0dc;
$_violet_50: #b4aec2;
$_violet_70: #948ba7;
$_violet_90: #75698c;

// MEDIA

$_mobile-width: 500px;

// COMMON NOTIFICATION STYLES
.notification {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;

  &:before {
    display: inline-flex;
    flex-shrink: 0;
    content: "";
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
}

.notification--elevation {
  box-shadow: rgb(0 0 0 / 20%) 0px 5px 5px -3px,
    rgb(0 0 0 / 14%) 0px 8px 10px 1px, rgb(0 0 0 / 12%) 0px 3px 14px 2px;
}

.notification__btn {
  border: none;
  background-image: none;
  background-color: transparent;
  cursor: pointer;
}

.notification__btn--close {
  text-indent: -99999px;
}

.notification__title {
  margin-top: 0;
  margin-bottom: 10px;
}

.notification__content {
  p {
    margin-top: 0;
    line-height: 1.5;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    text-decoration: underline;
  }
}

// NOTIFICATIONS #1

.notification1 {
  display: flex;
  gap: 20px;
  max-width: 700px;
  padding: 20px;
  border-radius: 5px;

  &:before {
    display: inline-flex;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    content: "";
    background-size: contain;

    @media (min-width: $_mobile-width) {
      width: 40px;
      height: 40px;
    }
  }
}

.notification1--success {
  &:before {
    background-image: url("https://assets.codepen.io/3341051/check.svg");
  }
}

.notification1--warning {
  &:before {
    background-image: url("https://assets.codepen.io/3341051/warning.svg");
  }
}

.notification1--danger {
  &:before {
    background-image: url("https://assets.codepen.io/3341051/danger.svg");
  }
}

.notification1__content {
  @media (min-width: $_mobile-width) {
    margin-right: 30px;
  }
}

.notification1__title--success {
  color: $_green_90;
}

.notification1__title--warning {
  color: $_orange_90;
}

.notification1__title--danger {
  color: $_red_90;
}

.notification1__content {
  a {
    color: $_violet_90;
  }
}

.notification1__close {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  background-image: url("https://assets.codepen.io/3341051/cancel.svg");
}

// NOTIFICATIONS #2

.notification2 {
  display: flex;
  gap: 20px;
  max-width: 700px;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid;

  &:before {
    display: inline-flex;
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    content: "";
    background-color: #fff;
    background-size: 70%;
    background-position: 50%;
    border-radius: 50%;
    border: 10px solid;
  }
}

.notification2--success {
  background-color: $_green_10;
  border-color: $_green_50;

  &:before {
    background-size: 75%;
    background-image: url(https://assets.codepen.io/3341051/check2.svg);
    border-color: $_green_50;
  }
}

.notification2--warning {
  background-color: $_orange_10;
  border-color: $_orange_50;

  &:before {
    background-image: url(https://assets.codepen.io/3341051/warning2.svg);
    border-color: $_orange_50;
  }
}

.notification2--danger {
  background-color: $_red_10;
  border-color: $_red_50;

  &:before {
    background-size: 55%;
    background-image: url(https://assets.codepen.io/3341051/danger2.svg);
    border-color: $_red_50;
  }
}
