//mixins
@mixin transition-mix(
  $property: all,
  $duration: 0.2s,
  $timing: linear,
  $delay: 0s
) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing;
  transition-delay: $delay;
}

@mixin position-absolute($top: null, $left: null, $right: null, $bottom: null) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

$theme-font-color: #2c2c2c;

body {
  font: {
    family: "Montserrat", sans-serif;
    size: 16px;
  }
  color: $theme-font-color;

  a {
    color: inherit;
    text-decoration: none;
  }
}

//PEN STYLES
.header {
  max-width: 500px;
  margin: 50px auto;

  text-align: center;
}

.header__btns {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.header__btn {
  @include transition-mix;

  padding: 10px 20px;
  margin-right: 10px;

  background-color: #fff;
  border: 1px solid $theme-font-color;
  border-radius: 3px;

  cursor: pointer;

  outline: none;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &.js-active {
    color: #fff;

    background-color: $theme-font-color;
  }
}

.header__title {
  margin-bottom: 10px;
  font: {
    weight: 500;
  }
}

.content {
  width: 700px;
  max-width: 95%;
  margin: auto;
}

.effect {
  margin-bottom: 50px;
}

.effect__title {
  text-align: center;
}

.effect__cell {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}
