//mixins
@mixin transition-mix(
  $property: all,
  $duration: 0.2s,
  $timing: linear,
  $delay: 0s
) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing;
  transition-delay: $delay;
}

@mixin position-absolute($top: null, $left: null, $right: null, $bottom: null) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

$theme-font-color: #2c2c2c;

body {
  font: {
    family: "Montserrat", sans-serif;
    size: 16px;
  }
  color: $theme-font-color;

  a {
    color: inherit;
    text-decoration: none;
  }
}

//PEN STYLES
.header {
  max-width: 500px;
  margin: 50px auto;

  text-align: center;
}

.header__btns {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.header__btn {
  @include transition-mix;

  padding: 10px 20px;
  margin-right: 10px;

  background-color: #fff;
  border: 1px solid $theme-font-color;
  border-radius: 3px;

  cursor: pointer;

  outline: none;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &.js-active {
    color: #fff;

    background-color: $theme-font-color;
  }
}

.header__title {
  margin-bottom: 10px;
  font: {
    weight: 500;
  }
}

.content {
  width: 700px;
  max-width: 95%;
  margin: auto;
}

.effect {
  margin-bottom: 50px;
}

.effect__title {
  text-align: center;
}

.effect__cell {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

// PALETTE

// palette green
$_green_10: #85fff1;
$_green_30: #00e0c6;
$_green_50: #00a28e;
$_green_70: #007a6c;
$_green_90: #005248;

// palette red

$_red_10: #fe8686;
$_red_30: #fd3535;
$_red_50: #fd0d0d;
$_red_70: #bb0202;
$_red_90: #8d0101;

// palette orange

$_orange_10: #f8be8c;
$_orange_30: #f4a966;
$_orange_50: #f18c33;
$_orange_70: #ef7e1a;
$_orange_90: #d26a0f;

// palette additional

$_violet_30: #c6c4d4;

// COMMON NOTIFICATION STYLES
.notification__btn {
  border: none;
  background-image: none;
  background-color: transparent;
  cursor: pointer;
}

.notification__btn--close {
  text-indent: -99999px;
}

// NOTIFICATIONS #1

.notification1 {
  &:before {
    display: inline-flex;
    width: 40px;
    height: 40px;
    content: "";
  }
}

.notification1__close {
  width: 20px;
  height: 20px;
  background-image: url("https://assets.codepen.io/3341051/cancel.svg");
}

.notification1--success {
  &:before {
    background: url("https://assets.codepen.io/3341051/check.svg") 0 0 no-repeat;
  }
}
